<header>
    <h1>Advanced
        <br>Angular
        <br>Chess
        </h1>
</header>
<main>
    <div class="div_playing">
        <h3>Playing :
            <span class="badge rounded-pill bg-light text-dark" *ngIf="white">White</span>
            <span class="badge rounded-pill bg-dark" *ngIf="!white">Black</span>
        </h3>
    </div>

    <div class="div_chess">
        <ngx-chess-board #board 
            [size]="size" 
            [lightTileColor]="lightTileColor"
            [darkTileColor]="darkTileColor" 
            (moveChange)="moveCallback($event)"
            [dragDisabled]="dragDisabled"
            [drawDisabled]="drawDisabled"
            [pieceIcons]="icons"
            [botLevel]="botlevel"
        ></ngx-chess-board>
    </div>

    <div class="div_buttons">
        <button type="button" class="btn btn-danger"
                (click)="reset()">Reset
        </button>

        <button type="button" class="btn btn-primary"
                (click)="reverse()"
                [disabled]="botlevel != 0">Reverse
        </button>

        <button type="button" class="btn btn-secondary"
                (click)="undo()"
                [disabled]="botlevel != 0">Undo
        </button>

        <button type="button" class="btn btn-success"
                (click)="showMoveHistory()">Display moves
        </button>

        <span class="div_display_moves" *ngFor="let move of this.boardManager?.getMoveHistory(); let i = index">
            <span class="badge rounded-pill bg-light text-dark" *ngIf="i%2==0">{{ move.move }}</span>
            <span class="badge rounded-pill bg-dark" *ngIf="i%2!=0">{{ move.move }}</span>
            <div *ngIf="(i+1)%4==0">
            </div>
        </span>
        
    </div>

    <div class="div_bot">
        <h4>Play against</h4>
        <span>
            Local
            <label class="switch mt-3">
                <input id="switchBot" type="checkbox"
                (click)="switchBot()"
                [disabled]="botlevel != 0 && boardManager.getMoveHistory() != []">
                <span class="slider round"></span>
            </label>
            Bot
        </span>
        <div class="div_bot_level" *ngIf="bot">
            Choose Bot level
            <button [disabled]="botlevel != 0" class="bot_level" type="button" class="btn btn-warning"
                *ngFor="let a of fakeArray; let index = index"
                (click)="setBotLevel(index+1)">{{ index+1 }}
            </button>
            Bot level 
            <span class="badge rounded-pill bg-success">{{ botlevel }}</span>
        </div>
    </div>

</main>
<footer>
    <p>© Copyright <a href="https://github.com/grzegorz103/ngx-chess-board">NGX Angular Chess</a>
    | Developed For JXC</p>
</footer>