header, footer {
    position: absolute;
    left: 0;
}

header {
    top: 0;
    height: 50px;

    h1 {
        padding: 1%;
        font-family: 'Quicksand', sans-serif;
    }
}

main {
    padding-top: 50px;
    padding-bottom: 75px;
    display: flex;
    
    div {
        margin: 2%;
    }

    .div_playing {
        position: absolute;
        top: 0px;
        left: 18%;
    }

    .div_chess {
        margin-left: 20%;
    }

    .div_buttons {
        button {
            width: 150px;
            display: block;
            margin-bottom: 10px;
        }
    }

    .div_display_moves {
        span {
            white-space:nowrap;
        }
    }
    .div_bot {
        text-align: center;

        .div_bot_level{
            display: grid;

            button {
                margin-bottom: 5px;
            }
        }
    }
}



footer {
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: #f8f9fa;

    height: 75px;
    color: #6c757d;

    p {
        padding-top: 28px;

        a:link {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 6px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:disabled + .slider {
    background-color: #2195f32d;
    box-shadow: 0 0 1px #2195f32d;
}

input:disabled + .slider:before {
    background-color: rgba(255, 255, 255, 0.37);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.draggables {
    display: flex;
    flex-direction: column;
}