header, footer {
    position: fixed;
    left: 0;
}

header {
    top: 0;
    height: 50px;

    h1 {
        padding: 1%;
        font-family: 'Quicksand', sans-serif;
    }
}

main {
    padding-top: 50px;
    padding-bottom: 75px;
    display: flex;
    
    div {
        margin: 2%;
    }

    .div_playing {
        position: absolute;
        top: 0px;
        left: 18%;
    }

    .div_chess {
        margin-left: 20%;
    }

    .div_buttons {
        button {
            width: 150px;
            display: block;
            margin-bottom: 10px;
        }
    }
}

footer {
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: #f8f9fa;

    height: 75px;
    color: #6c757d;

    p {
        padding-top: 28px;

        a:link {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }
    }
}