<header>
    <h1>Advanced
        <br>Angular
        <br>Chess</h1>
</header>
<main>
    <div class="div_playing">
        <h3>Playing :
            <span class="badge rounded-pill bg-light text-dark" *ngIf="white">White</span>
            <span class="badge rounded-pill bg-dark" *ngIf="!white">Black</span>
        </h3>
    </div>

    <div class="div_chess">
        <ngx-chess-board #board 
            [size]="size" 
            [lightTileColor]="lightTileColor"
            [darkTileColor]="darkTileColor" 
            (moveChange)="moveCallback($event)"
            [dragDisabled]="dragDisabled"
            [drawDisabled]="drawDisabled"
            [pieceIcons]="icons"
        ></ngx-chess-board>
    </div>

    <div class="div_buttons">
        <button type="button" class="btn btn-danger"
                (click)="reset()">Reset
        </button>

        <button type="button" class="btn btn-primary"
                (click)="reverse()">Reverse
        </button>

        <button type="button" class="btn btn-secondary"
                (click)="undo()">Undo
        </button>

        <button type="button" class="btn btn-success"
                (click)="showMoveHistory()">Display moves
        </button>
    </div>

</main>
<footer>
    <p>© Copyright <a href="https://github.com/grzegorz103/ngx-chess-board">NGX Angular Chess</a>
    | Developed For JXC</p>
</footer>